$color-1-primary: rgb(48, 50, 66);
$color-1-secondary: rgb(57, 67, 89) ;
$color-2-primary: #BA6C65;
$color-2-secondary: #D88A83;
$color-3: rgb(242, 190, 141);
$color-4: #faf4d0;
$offwhite-1: rgb(255,250,250);
$offwhite-2: rgb(240,248,255);
$offwhite-3: rgb(240,255,240);
$accent-3: rgb(117,255,51);
$accent-2: rgb(51,92,255);
$accent-1: rgb(255,162,51);